<table class="ui small compact celled table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="reference/render-image.html">RenderImage</a>
            </td>
            <td>Render a Blender scene to an image file.</td>
        </tr>
        <tr>
            <td class="content">
                <a href="reference/render-animation.html">RenderAnimation</a>
            </td>
            <td>Render a Blender animation to images files.</td>
        </tr>
        <tr>
            <td>
                <a href="reference/fbx-conv.html">FbxConv</a>
            </td>
            <td>Convert FBX files to G3DJ or G3DB formats.</td>
        </tr>
    </tbody>
</table>
