        <div class="nine wide column">
            <div class="feature">
                <h2><a class=" ui {{include.project.accentColor}} header" href="/open-source/{{ include.project.label }}/{{ include.firstPage..title | slugify }}.html">{{ project.label }}</a></h2>
                {% if include.project.shorter %}
                <div class="description">
                    {% for paragraph in include.project.shorter %}
                    <p>{{ paragraph | markdownify }}</p>
                    {% endfor %}
                    {% for p in pages %}
                    <a class="ui compact {{include.project.accentColor}} button" href="/open-source/{{ project.label }}/{{ p.title | slugify }}.html">
                        <i class="{{p.icon}} icon"></i>
                        {{ p.title }} 
                    </a>
                    {% endfor %}
                    {% if project.github %}
                    <a class="ui compact {{include.project.accentColor}} button" href="{{ project.github }}" target="_blank">
                        <i class="github icon"></i>
                        Github
                    </a>
                    {% endif %}

                </div>
                {% endif %}
            </div>
        </div>