<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <a name="top"></a>
        <div id="root" class="ui raised container segments">
            <div id="header" class="ui inverted basic segment">
                <div class="ui large inverted secondary menu">
            		{% include menu.html %}
                </div>
            </div>
            <div class="ui blue tertiary inverted segment">
                <h1 class="header">{{ page.heading }}</h1>
                <p class="sub-heading"></p>
            </div>
            <div class="ui segment">
                {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
