<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <a name="top"></a>
        <div id="root" class="ui raised container segments">
            <div id="header" class="ui inverted basic segment">
            	<div class="ui large inverted secondary menu">
            		{% include menu.html %}
                </div>
            </div>
            <div id ="description" class="ui very padded inverted tertiary blue segment">
                <h1 class="ui header">{{ page.name }}</h1>
                <p>{{ page.shorter }}</p>
            </div>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
