<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
    	<a name="top"></a>
        <div id="root" class="ui raised container segments">
            <div id="header" class="ui inverted basic segment">
            	<div class="ui large inverted secondary menu">
            		{% include menu.html %}
                </div>
            </div>
            <div id ="description" class="ui very padded inverted tertiary blue segment">
				<div class="ui grid">
			        <div class="ten wide large feature column">
			        	<h1 class="ui inverted header">{{ page.name }}</h1>
			        	<p>{{ content }}</p>
			        </div>
				</div>
            </div>
			<div class="ui very padded secondary segment">
				<div class="ui grid">
					<div class="ten wide large middle aligned column">
						<h1 class="ui grey header">Try it yourself. It's free.
							<div class="sub header">And without ads.</div>
						</h1>
					</div>
					<div class="six wide large center aligned column">
						<a href="https://play.google.com/store/apps/details?id=com.eowise.cityevolution">
							<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/fr_generic_rgb_wo_60.png" />
						</a>
					</div>
				</div>
		    </div>
		    <div id="overview" class="ui very padded basic segment">
		    	<h2 class="ui header">Overview</h2>
			    <div class="ui cards">
			  		{% for feature in page.overview %}
	                <div class="ui centered card">
	                    <div class="content">
	                		<p class="header">{{ feature.title }}</p>
			        		<p class="description">{{ feature.text }}</p>
	                    </div>
	                </div>
			        {% endfor %}
			    </div>
		    </div>
		    <div id="quotes" class="ui very padded inverted tertiary green segment">
	            <h2 class="ui inverted header">Quotes</h2>
			    <div class="ui equal width grid">
			        {% for quote in page.quotes %}
			        <p class="text column">{{ quote }}</p>
			        {% endfor %}
			    </div>
			</div>
        </div>
        {% include footer.html %}
    </body>
</html>
