<!DOCTYPE html>
{% assign project = site.collections[page.project] %}
{% assign pages = project.docs | sort: "order" %}
{% assign section = project.nav | where: "slug", page.id | first %}
<html>
    {% include head.html %}
    
    <body class="index">
        <a name="top"></a>
        <div id="root" class="ui raised text container segments">
            <div id="header" class="ui inverted basic segment">
            	<div class="ui large inverted secondary menu">
            		{% include menu.html %}
                </div>
            </div>
            <div id ="description" class="ui inverted tertiary {{project.accentColor}} segment">
                <div class="ui inverted secondary menu">
                    <span class="header item" href="/">{{ project.label }}</span>
                    <div class="right menu">
                        {% for p in pages %}
                        <a class="{% if p.order == page.order %}active {% endif %}item" href="/open-source/{{ project.label }}/{{ p.title | slugify }}.html">
                            <i class="{{p.icon}} icon"></i>
                            {{ p.title }} 
                        </a>
                        {% endfor %}
                        {% if project.github %}
                        <a class="item" href="{{ project.github }}" target="_blank">
                            <i class="github icon"></i>
                            Github
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="content" class="ui basic segment">
                {{ content }}
                <div class="ui right close dividing rail">
                    <div class="ui secondary sticky vertical inverted menu">
                        {% for header in pages %}
                        <a class="item" href="/open-source/{{ project.label }}/{{ header.title | slugify }}.html">{{ header.title }}</a>
                        <div class="menu">
                            {% for item in header.nav %}
                            <a class="item" href="#{{ item | slugify }}">{{ item }}</a>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
        <script type="text/javascript">
            jQuery('.ui.sticky').sticky({context: '#content'});
            jQuery('.overlay').visibility({
                type   : 'fixed',
            });
        </script>
    </body>
</html>
